// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // header // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#header {
  font-size: 16px;
  @include media(min, 2500px) {font-size: 19px !important}
  @include media(max, 1000px) {font-size: 14px !important}
  
  height: var(--h-header) !important;
  animation: movedown .5s $ease-return;
  transition: 0.4s ease-in-out;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   background: var(--clr-btn);
  //   transition: 0.4s ease-in-out;
  // }
  // &.hide::before {opacity: 0}
  .v-toolbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include parent;
    padding-inline: var(--margin-global);
    height: var(--h-header) !important;
    // overflow: hidden;
    // line
    &::after {
      content: "";
      @include absolute(0,auto,0,0);
      width: calc(100% - var(--margin-global) * 2);
      height: 1px;
      background-color: var(--clr-line);
    }
    .middle {
      display: flex;
      gap: 2em;
      a {
        --c: var(--accent);
        --fw: 700;
        font-size: 21px;
        transition: .5s $ease;
        &.active {--c: #fff}
      }
    }
    .right {
      display: flex;
      gap: 1em;
      .v-btn {
        --bg: var(--clr-card);
        --bs: none;
        --fs: 16px;
      }
    }
  }
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // menu header // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
