// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // farm // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#farm {
  @include parent;
  padding-inline: var(--margin-global);

  &-header {
    h1 {--fs: 2.2em}
    #profits {
      font-size: clamp(12px, 1vw, 16px);
      @include media(max, 1159px) {justify-content: center !important}
      .v-card {
        --width: 21.875em;
        max-width: var(--width) !important;
        min-width: var(--width) !important;
        --h: 150px;
        &:last-of-type {--width: 24em}
        @include media(max, 1159px) {--width: 24em}
        @include media(max, x-small) {--width: 100% !important}
      }
      label {
        --fs: 16px;
        --fw: 700;
        min-width: max-content;
        font-family: var(--font1);
      }
      span {font-family: var(--font2)}
      .hspan {
        --fw: 700;
        --fs: 2.25em;
        & + span {
          --fw: 700;
          font-size: 12px;
        }
      }
    }
  }

  &-content {
    > * {
      height: max-content !important;
      &:has(.nopevents) {min-height: 462.13px !important}
    }
  }
}
