// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // farm // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#farm {
  @include parent;
  padding-inline: var(--margin-global);

  &-header {
    h1 {--fs: clamp(1.8em, 2vw + 1em, 2.2em)}
    .container-profits {
      --max-w: 883px;
      --br: 20px;
      gap: 5px;
      * {font-family: var(--font1) !important}
      label {
        --fs: 1.3125em;
        text-transform: capitalize;
      }
      span {
        font-size: 2.6025em;
        --fw: 700;
      }
    }
  }

  &-content {
  }
}
