// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // login // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#login {
  background: center no-repeat fixed var(--bg-ap);
  background-size: cover;
  .v-main__wrap {
    padding: 4rem $content-padding 70px $content-padding;
    
    .containerLogoLogin {
      position: relative;
      width: clamp(8rem, 20vw + 1rem, 14rem);
      height: clamp(10.625rem, 20vw + 1rem, 16rem);
    }
    .logoLogin {
      width: clamp(8rem, 20vw + 1rem, 14rem);
    }
    .containerLogin {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #botonLogin {
      font-family: "inter", sans-serif;
      background-color: #6667AB;
      color: #FFFFFF;
      padding: 2.1875rem 5rem !important;
      border-radius: 35px !important;
      letter-spacing: normal;
      text-transform: capitalize;
      box-shadow: 0px 2px 4px 2px #6667ab71 !important;
    }
    .containerOptionsLogin {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .containerInput {
      .v-input__slot {
        padding: 1.5rem 2.5rem !important;
        border-radius: 30px !important;
        box-shadow:
          1px 1px 1px #FFFFFF70,
          -1px 1px 2px #70707070,
          1px 1px 5px #70707070 !important;
      }
    }
    
    .soporte {
      position: absolute;
      text-decoration: none;
      text-align: center;
      bottom: 5%;
      left: 0;
      right: 0;
    }
  }
}
