// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // pools-create // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#pools-create {
  @include parent;
  padding-inline: var(--margin-global);

  &-header {
    --padding-left: 40px;
    .v-card.card {
      --p: 10px var(--padding-left);
      --br: 20px;
      @include media(max, 600px) {flex-direction: column}
      span {
        font-size: 1.75em;
        --fw: 700;
      }
    }
  }

  &-content {
    gap: 30px;
  }
}
