// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // pools-create // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#pools-create {
  @include parent;
  padding-inline: var(--margin-global);

  &-header {
    --padding-left: 40px;
    .v-card.card {
      --p: 10px var(--padding-left);
      --br: 20px;
      @include media(max, 600px) {flex-direction: column}
      span {
        font-size: 1.75em;
        --fw: 700;
      }
    }
  }

  &-content {
    gap: 50px;
    // @include media(max, 1250px) {
    //   flex-direction: column;
    //   align-items: center;
    // }
    .container-liquidity {
      .container-options {
        .v-chip, .v-btn {
          --bg: #292724;
          --br: 30px;
        }
      }
      
      > div.space {
        center {
          transform: translateY(calc(62px / 2));
        }
      }
      
      aside:has(.v-card) .v-card.card {
        max-width: 183px !important;
        width: 183px !important;
      }
    }
  }
}
