// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // swap // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#swap {
  @include parent;
  padding-inline: var(--margin-global);

  &-content {
    margin-top: 1em;
    gap: 2.5em;
    > * {
      min-width: 220px !important;
      min-height: 341px !important;
    }
    @include media(max, 1360px) {
      > :nth-child(1) {order: 0}
      > :nth-child(2) {order: 2}
      > :nth-child(3) {order: 1}
    }
    @include media(max, small) {
      padding-bottom: 80px;
      flex-direction: column;
      > :nth-child(1) {display: none}
      > :nth-child(2) {order: 0}
      > :nth-child(3) {display: none}
      > * {
        --size: clamp(280px, 1vw, 300px);
        width: var(--size) !important;
        min-width: var(--size) !important;
        max-width: var(--size) !important;
      }
    }

    .left {max-width: 292px !important}

    .middle {
      --size: max-content;
      @include media(max, 500px) {--size: 100%}
      width: var(--size) !important;
      max-width: var(--size) !important;
      > div.space {
        center {
          transform: translateY(calc(62px / 2));
          margin-inline: clamp(5px, .6vw, 20px);
        }
        @include media(max, small) {
          flex-direction: column !important;
          center {
            transform: translateY(calc(62px / 3));
            img {--t: rotate(90deg)}
          }
        }
      }
      aside.target_drag {
        --size: 13em;
        @include media(max, 1360px) {--size: 288px}
        @include media(max, 500px) {--size: 100%}
        width: var(--size) !important;
        max-width: var(--size) !important;
        min-width: var(--size) !important;
        min-height: var(--h-cards) !important;
        justify-content: space-between;
        position: relative;
        .v-card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          @include media(max, small) {
            * {text-align: center !important}
          }
          > label {
            margin-top: 10px;
            padding-inline: 12px;
          }
        }
      }
      .v-chip {--tt: uppercase !important}
      
      &.focus {
        .target_drag::after {
          content:  "";
          position: absolute;
          inset: -20px;
          border-radius: 60px;
          box-shadow: inset 0 0 50px 1px hsl(0 0% 100% / .2);
          z-index: 10;
          @include animation(2s $ease-return infinite alternate) {
            from {transform: scale(1.02)}
            to {transform: scale(1)}
          }
        }
      }
    }

    .right {
      max-width: 318px !important;
      .grid {
        --gtc: repeat(auto-fit, minmax(min(100%, 80px), 1fr));
        overflow-y: auto;
        border-radius: 0;
        img {cursor: grab}
      }
    }
  }
}
