// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // layout // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#layout {
  background: center no-repeat fixed var(--bg-app);
  background-size: cover;
  // overflow: hidden;
  //- responsive font size -//
  .v-main {
    & > * {
      @include media(max,small) {
        font-size: var(--resize-mobile)
      }
    }
  }
  // footer margin modifiable
  & .with {
    padding-block: calc(var(--h-navbar) + 60px) var(--h-footer, 80px) !important
  }
  & .without {
    padding-block: calc(var(--h-navbar) + 60px) 0 !important
  }

  #swap-floating-button {
    --w: 10.0625em;
    --br: 30px 30px 15px 15px / 30px 30px 30px 30px;
    --c: #574F42 !important;
    --fw: 700;
    --fs: clamp(1.15em, calc(1.3vw + .5em), 1.3125em);
    --t: rotate(-90deg);
    --g: 0;
    --p: clamp(.5em, calc(1vw + .75em), .75em);
    position: fixed;
    right: -3.4em;
    top: 20%;
    z-index: 10;
    .v-btn__content {
      display: flex;
      flex-direction: column;
      span:not(span + span) {font-family: 'Segoe UI', sans-serif !important}
    }
  }
}

// #walletconnect-wrapper {
// }
