// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // layout // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#layout {
  background: center no-repeat fixed var(--bg-app);
  background-size: cover;
  // overflow: hidden;
  //- responsive font size -//
  .v-main {
    & > * {
      @include media(max,small) {
        font-size: clamp(10px, 1.5vw, 12px)
      }
    }
  }
  // footer margin modifiable
  & .with {
    padding-block: calc(var(--h-navbar) + 60px) var(--h-footer) !important
  }
  & .without {
    padding-block: calc(var(--h-navbar) + 60px) 0 !important
  }
}
